nav
  input.toggle#nav(type="checkbox")
  label.label(for="nav")
    p Menu
    span.hum
    ul.list
      li.list__home: a(href="#0") Home
      li.list__about: a(href="#0") About
      li.list__clients
        a(href="#0")
          span Clients
        ul.list__clientsItems
          li: a(href="#0") Burger King
          li: a(href="#0") Southwest Airlines
          li: a(href="#0") Levi Strauss
      li.list__strauss
        a(href="#0")
          span Services
        ul.list__straussItem
          li: a(href="#0") Print Design
          li: a(href="#0") Web Design
          li: a(href="#0") Mobile App Development
      li.list__contact: a(href="#0") Contact
